body{
  background-color: rgb(254,255,253);
  font-family: 'Montserrat', sans-serif;
}
.container{
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
#navBarMain{
  text-decoration: underline;
  background: rgb(193,136,155); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgb(193,136,155) , rgb(150,110,163)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(193,136,155), rgb(150,110,163)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(193,136,155), rgb(150,110,163)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(193,136,155) , rgb(150,110,163)); /* Standard syntax */
}
#headUpdates{
  padding-left: 5vw;
  color: rgb(193,136,155); /* For browsers that do not support gradients */
  color: -webkit-linear-gradient(left, rgb(193,136,155) , rgb(150,110,163)); /* For Safari 5.1 to 6.0 */
  color: -o-linear-gradient(right, rgb(193,136,155), rgb(150,110,163)); /* For Opera 11.1 to 12.0 */
  color: -moz-linear-gradient(right, rgb(193,136,155), rgb(150,110,163)); /* For Firefox 3.6 to 15 */
  color: linear-gradient(to right, rgb(193,136,155) , rgb(150,110,163)); /* Standard syntax */
  padding-bottom: 1vw;
}
#navBar{
  border: 0px solid;
}
#leftNavContent{
  padding-left: 7%;
}
#rightNavContent{
  padding-right: 9%;
}
#leftNavContent li a{
  color: rgb(255,254,255);
}
#rightNavContent li a{
  color:rgb(255,254,255);
}
#leftNavContent li:hover{
  background-color: rgba(158,115,161,0.5);
}
#rightNavContent li:hover{
  background-color: rgba(189,134,155,0.5);
}
#update1{
  background-image: url('../img/update1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 67vh;
}
#update1upper{
  border:solid 1px grey;
  color: white;
  box-shadow: 7px 7px 7px 1px #888888;
}
#update2{
  background-image: url('../img/update2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 52vh;
}
#updateLeft{
  margin-right: 1%;
}
#updateRight{
  margin-left: 1%;
}
#update2upper{
  border:solid 1px grey;
  color: white;
  box-shadow: 7px 7px 7px 1px #888888;
}
#updateHead{
  font-size: 120%;
  padding-bottom: 30%;
}
#updateThumbnail{
  background-color: white;
  color: #4d66d0;
  margin-left: 0%;
}
#updateThumbnail:hover{
  cursor: pointer;
}
#updateBody{
  color: black;
  padding-top: 4%;
  font-family: Franklin Gothic book;
  padding-bottom: 2%;
}
#update3upper{

  color: white;
  box-shadow: 7px 7px 7px 1px #888888;
  min-height: 40vh;

}
#wasteSpace{
  background-color: white;
  min-height: 3vh;
}
#update3{
  min-height: 50vh;
  background-color: #cfcfcf;
}
#update4{
  min-height: 69vh;
  background-color: #cfcfcf;
}
#continueRead{
  text-align: center;
  color: #828282;
  font-family: Calibri;
  background-color: #cfcfcf;
  cursor: pointer;
}
#wasteSpace2{
  min-height: 15vh;
}
