.mech{
  padding-top: 15px;
  font-size:medium;
  font-weight: bold;
}

.n{
  margin-bottom: 0px;
  color:#919191;
  background-color: rgb(22,22,22);
   padding-top: 0px;
   margin-top: 0px;
}


#showcase{
  font-size: 25px;
  background:url('../imgs/showcase.jpg') no-repeat 0 -400px;
  min-height: 400px;
  width:100%;
}

#showcase a{

  position: absolute;
  top:300px;

  background-color: #66bde2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color:white;
  text-decoration: none;
}

.eventdisc{
color:#553075;
}

.main{
  text-align: center;
  font-size: 60px;
  color:#553075;

}

.dwnld{
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  font-size: 20px;

}

.dwnld a{
  color:#553075;
  font-weight: bold;
}

.columns{
  text-align: center;
  margin-top: 30px;
  min-height: 240px;
  border-bottom: 1px solid grey;
  background-color: #efefef
}

.c1{
  margin-top:30px;
  border-right:2px #494949 solid;
  min-height: 200px;
  margin-bottom:25px;
}

.a{
  margin-top:30px;
  min-height: 200px;
  margin-bottom:25px;
}

.footer{
  background-color:#553075;
  min-height: 100px;
}

.m{
  text-align: center;
  padding-top: 45px;

  color:white;
  font-size: 15px;
}

.back{
  background-color: black
}

.box{
  min-height:100px;
  margin: 30px 0px 30px 0px;

}

.inbox{
  margin-top:20px;
  border:2px solid #553075;
  min-height: inherit;
  padding-bottom: 20px;
}

.glyph-back{
  margin-top: 20px;
  background-color: #553075;
  border-radius: 50%;
  height: 50px;
  width:50px;
  padding-top:15px;
  padding-left:18px;

  color: white;
}

.text{
  margin-top: 20px;
  font-weight: bold;
  padding-left: 30px;
  font-size: 12px;
}

@media(max-width: 990px){
  .c1{
    border:none;
  }

  #showcase{

    background:url('../imgs/showcase.jpg') no-repeat 0 -400px;
    min-height: 200px;
    width:100%;
  }

  #showcase a{
    top:100px;
  }

  .a{
    margin-top:30px;
    min-height:400px;
    margin-bottom:25px;

  }

  .c1{
    border-bottom: 2px #494949 solid;

    padding-top:10px;
  }

  .footer{
    min-height:50px;
    padding-bottom: 30px;
  }

  .eventdisc{
  font-size: small;
}

@media(max-width:767px){

  #showcase a{
    margin-left: 110px;
  }

}


@media(max-width:567px){

  #showcase a{
    margin-left: 70px;
  }

}

@media(max-width:467px){

  #showcase a{
    margin-left: 30px;
  }

}

@media(max-width:467px){

  #showcase a{
    margin-left: 0px;
  }

}
