#menu
{

color: white;
font-size: 30px;
text-align: center;
background-image: url("wall.png");
background-size:100% 100%;
background-repeat: no-repeat;
margin-left: 0;
height: 800px;
background-position: center;
font-family: 'Monteserrat',sans-serif;
}

ul
{
  list-style-type: none;
  margin:0;

}
#content
{
  position: relative;
  top: -200px;
  text-align: center;

}
#content-text
{
  color: white;
  font-family: 'Monteserrat',sans-serif;
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -450px;
}
p
{
float: right;
}
li
{
  display: inline!important;
  float:center;
  padding: 10;
}
