body {
  width:1920px;
}
.main{
  background-image: url(images/div1_background.jpg);
}
  .r1{
    top:350px;
  }
  .r1c2{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    color:#303030;
  }
.r2{
    top:350px;

  }
  .r2c2{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:#303030;
  }
.r3{
    top:410px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
  }
  .r3c2{
    background-color: white;
    opacity: 0.5;
    border: 2px solid black;
    border-radius: 10px;
  }
.r3c3{
    background-color: #4159B1;
    color:white;
    border: 1px solid black;
    border-radius: 10px;


  }



.disc{
  position:relative;
  top: 1148px; left: 0px;
  height:732px;
  background-image: url(images/div2_background.jpg);
}

  @font-face {
    font-family: Neoteric;
    src: url(fonts/Neoteric-Font.woff);
    src: url(fonts/Neoteric-Font.eot);
    src: url(fonts/Neoteric-Font.ttf);
  }
  .intro{
   font-family: Neoteric;
    font-weight: lighter;
    font-size: 40px;
    color:white;
    text-align:center;
  }



.cities
{
  position: relative;
  float:bottom;

  background-image: url(images/div3_background.jpg);
  top:1148px;
  left:0px;
  height:1180px;
}
#circles{
  position: relative;
  border: 10px solid white;
    border-radius: 190px;
}
#city{
  position: absolute;
  float:center;
  top:170px;
  left:25px;
  text-align: center;
  width:380px;
  font-family: 'Montserrat', sans-serif;
  font-size:35px;
  color: white;
  background-color: black;
  opacity: 0.7;

}
.cr1c2{  top:100px;}
.cr1c3{width:1225px;}
.cr1c4{  top:80px;}
.cr2c2{  bottom:50px;right:40px;}
.cr3c2{ bottom:150px; }
.cr3c3{}
.cr3c4{ bottom:150px;  }

.footer{
  position: relative;
  float:bottom;
  top:1148px;
  left:0px;
  width:1920px;
  height:436px;
  background-color: #303030;
}
